body{

background:#0a192f;
color:white;
font-family:Arial;
margin:0;

}

nav{

background:#112240;
display:flex;
justify-content:space-between;
padding:15px 40px;

}

.nav-links a{

color:white;
text-decoration:none;
margin-left:20px;

}

.hero{

text-align:center;
margin-top:150px;

}

.container{

text-align:center;
margin-top:100px;

}

button{

background:#64ffda;
border:none;
padding:12px 25px;
border-radius:6px;
cursor:pointer;

}

img{

width:220px;
margin:20px;
display:none;

}
